/* Header */
.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .bgBlurStyles {
    background-color: var(--bg-blur);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--border-color);
  }
  
  .header .bgBlur .dark {
    border-bottom: 1px solid #e4e8ec1a;
  }
  
  .header .bgBlur .light {
    border-bottom: 1px solid #0f172a1a;
  }
  
  /* Logo */
  img {
    width: 100%;
    max-width: 32px;
  }
  
  /* HamburgerMenu */
  .mobileMenu {
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    display: none;
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    .mobileMenu {
      display: flex;
    }
  }
  
  /* MobileNavLinks */
  .mobile_nav {
    list-style-type: none;
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
    z-index: 1000;
    min-height: 88vh;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    display: none;
    padding: 0 5%;
  }
  
  .mobile_nav.open {
    display: block;
  }
  
  .mobile_nav li a {
    margin-right: 0;
    padding: 1em 0;
    border-bottom: 1px solid var(--line);
    color: var(--link-color);
    text-decoration: none;
    display: block;
  }
  
  .mobile_nav li a:hover {
    color: var(--link-active-color);
  }
  
 .mobile_nav li a.active {
    color: var(--link-active-color);
  }
  
  .mobile_nav li a.active::after {
    width: 100%;
    background-color: var(--link-active-color);
  }
  
  @media (min-width: 768px) {
    .mobile_nav {
      display: none;
    }
  
    .mobile_nav.open {
      display: none;
    }
  }
  