
/* main container */
.mainContainer {
  width: 90%;
  max-width: 1030px;
  margin: 0 auto;
}

/* Nav */
.nav_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* NavLinks */
.main_navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.main_navLink li a {
  margin-right: 2em;
  padding: 0.2em 0;
  color: var(--link-color);
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_navLink li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--link-active-color);
  transition: width 0.4s ease-in-out;
}

.main_navLink li a:hover {
  color: var(--link-active-color);
}

.main_navLink li a:hover::after {
  width: 100%;
}

.main_navLink li a.active {
  color: var(--link-active-color);
}

.main_navLink li a.active::after {
  width: 100%;
  background-color: var(--link-active-color);
}

@media (max-width: 768px) {
  .main_navLink {
    display: none;
  }
  .highlightedLink{
    margin: 0 auto;
  }
}

/* NormalLink */
.normalLink {
  background-color: var(--accent-blue);
  text-decoration: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  color: white;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
}

.normalLink::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -64px;
  width: 32px;
  height: 64px;
  background-color: white;
  opacity: 0.5;
  filter: blur(10px);
  transform: rotate(30deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.normalLink:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* highlightedLink */
.highlightedLink {
  background-color: var(--accent-blue);
  text-decoration: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  color: white;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
}

.highlightedLink::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -64px;
  width: 32px;
  height: 64px;
  background-color: white;
  opacity: 0.5;
  filter: blur(10px);
  transform: rotate(30deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: swipe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes swipe {
  0% {
    left: -64px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
/* buttonLink */
.buttonLink {
  background-color: var(--accent-blue);
  text-decoration: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  color: white;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
}

.buttonLink::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -64px;
  width: 32px;
  height: 64px;
  background-color: white;
  opacity: 0.5;
  filter: blur(10px);
  transform: rotate(30deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.buttonLink:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.buttonLink {
  margin: 0 auto;
  margin-bottom: 1em;
}

/* transparentButton */
.transparent_link {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 100px;
  margin: 0 auto;
  width: fit-content;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: var(--para-color);
}

.transparent_link svg {
  margin-left: 8px;
  font-size: 0.8em;
}

/* sectionTitle */
.sectionTitle {
  font-weight: 600;
  position: relative;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 38px;
}

.bg-brand-background{
  --tw-bg-opacity: 1;
  background-color: rgb(24 30 36/var(--tw-bg-opacity));
}
